<div class="container">
  <div class="wrap">
    <div class="search">
      <input [formControl]="search" placeholder="Search character...">
    </div>
  </div>
  <div class="list">
    <h1>Lista de personajes</h1>
    <div *ngFor = " let item of  characters | search:filterCharacter">
      <p>{{item.name}}</p>
    </div>
  </div>
  <div class="list">
    <h1>Lista de ubicaciones</h1>
    <div *ngFor = " let item of  locationservice$ |async as location ">
      <p>{{item}}</p>
    </div>
  </div>
  <div class="list">
    <h1>Lista de personaje (episodios)</h1>
     <div *ngFor = " let item of  episodio$ |async as location ; let i = index">
      <p *ngIf="i < 10">{{item.episode}}</p>
    </div>
  </div>

</div>
