.container{
   display: flex;
   flex-direction: row;
   gap:20px;

  .list{
    padding: 10px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  }
}


.search {
  width: 100%;
  justify-content: center;
  display: flex;
}

.wrap{
  height: 30px;
  display: flex;
  margin: 30px;

}
